workflow_error.json
{
  "name": "Error Alert \u2192 Telegram",
  "nodes": [
    {
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "format-error",
      "name": "Format Error Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const execution = $json.execution || {};\nconst workflow = $json.workflow || {};\nconst error = execution.error || {};\n\nconst name = workflow.name || 'Unknown Workflow';\nconst errorMsg = error.message || 'Unknown error';\nconst execId = execution.id || '';\nconst execUrl = execution.url || '';\nconst now = new Date().toLocaleString('en-CA', { timeZone: 'America/Toronto' });\n\nconst message = `\ud83d\udea8 *WORKFLOW ERROR*\\n\\n\u2699\ufe0f *Workflow:* ${name}\\n\u274c *Error:* ${errorMsg}\\n\ud83d\udd50 *Time:* ${now}${execUrl ? '\\n\\n\ud83d\udd17 [View Execution](' + execUrl + ')' : ''}`;\n\nreturn { json: { telegramMessage: message } };"
      }
    },
    {
      "id": "send-error-telegram",
      "name": "Send Telegram Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ],
      "parameters": {
        "chatId": "YOUR_CHAT_ID_HERE",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Message": {
      "main": [
        [
          {
            "node": "Send Telegram Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}