workflow_error.json
{
  "name": "Error Alert → Telegram",
  "nodes": [
    {
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {}
    },
    {
      "id": "format-error",
      "name": "Format Error Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const execution = $json.execution || {};\nconst workflow = $json.workflow || {};\nconst error = execution.error || {};\n\nconst name = workflow.name || 'Unknown Workflow';\nconst errorMsg = error.message || 'Unknown error';\nconst execUrl = execution.url || '';\nconst now = new Date().toLocaleString('en-CA', { timeZone: 'America/Toronto' });\n\nconst message = `🚨 *WORKFLOW ERROR*\\n\\n⚙️ *Workflow:* ${name}\\n❌ *Error:* ${errorMsg}\\n🕐 *Time:* ${now}${execUrl ? '\\n\\n🔗 [View Execution](' + execUrl + ')' : ''}`;\n\nreturn { json: { telegramMessage: message } };"
      }
    },
    {
      "id": "send-error-telegram",
      "name": "Send Telegram Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [448, 0],
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": { "parse_mode": "Markdown" }
      }
    }
  ],
  "connections": {
    "Error Trigger": { "main": [[{ "node": "Format Error Message", "type": "main", "index": 0 }]] },
    "Format Error Message": { "main": [[{ "node": "Send Telegram Error Alert", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all"
  }
}
